.about {
    display: flex;
    flex-wrap: wrap;
}

.about > img {
    min-width: 50%;
    height: 667px;
}

.about__info {
    background-color: white;
    padding-left: 75px;
    padding-top: 168px;
    padding-bottom: 170px;
}

.about__info > h3 {
    font-size: 13px;
    color: #D4B254;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about__info > h2 {
    padding-top: 15px;
    font-size: 42px;
    font-family: Lato;
    color: #222222;
}

.about__info > p {
    padding-top: 15px;
    padding-bottom: 30px;
}

.about__info > button {
    background-color: #D4B254;
    font-weight: 500;
    color: white;
    border: 0;
    border-radius: 30px;
    width: 211px;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    outline-width: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.about__info > button:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1600px) {
    .about__info {
        padding: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}