.header {
    height: 900px;
    background-size: cover;
    background-color: left;
    top: 0;
    border-bottom: 1px solid white;
}

.header__info {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 789px;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.header__info > button {
    background-color: #D4B254;
    font-weight: 500;
    color: white;
    border: 0;
    border-radius: 30px;
    width: 228px;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline-width: 0;
}

.header__info > button:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.header__info > h1 {
    align-items: center;
    font-size: 52px;
    padding-bottom: 29px;
    font-weight: 500;
}

.header__info > h2 {
    font-size: 13px !important;
    padding-bottom: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .header__info {
        align-items: center;
    }
}